body {
  background: #66FF66;
 align-items: center;
 line-height: 120%;
}
h1 {
  text-align: left;
  color: #007cbc;
  background-color: lightgray;
}

h2 {
  text-align: left;
  color: #007cbc;
  background-color: lightgray;
  
  line-height: 120%;
}

p {
  text-align: left;

}
